@media print {
    .col-1 {
        display: grid !important;
        grid-template-columns: 1fr !important; /* ปรับตามที่คุณต้องการ */
    }
    .print-review {
        display: none;
    }
    .btn-Print {
        display: none;
    }
    td {
        font-size: 9px;
    }
    td div {
        font-size: 9px;
    }
    h2 {
        display: none;
    }
    .table-block {
        display: none;
    }
    .table-print1 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 90vh;
    }

    .table-print2 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-print3 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-print3 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-print4 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-print1 tr td {
        border: 2px solid black;
        text-align: center;
        padding: 4px;
    }

    .table-print2 tr td {
        border: 2px solid black;
        text-align: center;
        padding: 4px;
    }

    .table-print3 tr td {
        border: 2px solid black;
        text-align: center;
        padding: 4px;
    }

    .table-print4 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-print4 tr td {
        border: 2px solid black;
        text-align: center;
        padding: 4px;
    }

    .table-print1Cus {
        display: table !important;
        position: relative;
        border-collapse: collapse;
        top: 10%;
        width: 98% !important;
    }

    .table-print2Cus {
        display: table !important;
        position: relative;
        border-collapse: collapse;
        top: 10%;
        width: 98% !important;
    }

    .table-print3Cus {
        display: table !important;
        position: relative;
        border-collapse: collapse;
        top: 10%;
        width: 98% !important;
    }

    .table-print4Cus {
        display: table !important;
        position: relative;
        border-collapse: collapse;
        top: 10%;
        width: 98% !important;
    }

    .table-print1Cus tr td {
        border: 2px solid black;
        text-align: center;
        padding: 5px;
    }

    .table-print2Cus tr td {
        border: 2px solid black;
        text-align: center;
        padding: 5px;
    }

    .table-print3Cus tr td {
        border: 2px solid black;
        text-align: center;
        padding: 5px;
    }

    .table-print4Cus tr td {
        border: 2px solid black;
        text-align: center;
        padding: 5px;
    }

    .table-printDC1 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 95vh;
    }

    .table-printDC2 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-printDC3 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-printDC4 {
        display: table !important;
        border-collapse: collapse;
        width: 98% !important;
        height: 97vh;
    }

    .table-printDC1 tr td {
        border: 2px solid black;
        text-align: center;
    }

    .table-printDC2 tr td {
        border: 2px solid black;
        text-align: center;
    }

    .table-printDC3 tr td {
        border: 2px solid black;
        text-align: center;
    }

    .table-printDC4 tr td {
        border: 2px solid black;
        text-align: center;
    }

    .table-print1,
    .table-print2,
    .table-print3,
    .table-print4 {
        page-break-before: always !important;
    }

    .table-print1Cus,
    .table-print2Cus,
    .table-print3Cus,
    .table-print4Cus {
        page-break-before: always !important;
    }
    .table-printDC1,
    .table-printDC2,
    .table-printDC3,
    .table-printDC4 {
        page-break-before: always !important;
    }
    @page {
        size: A4 landscape;
        transform: scale(1.28) !important;
    }
}
body {
    margin: auto;
}
.container {
    margin-top: 0;
    width: 100%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(1, 11, 31);
    height: 8.5vh;
    overflow: hidden;
    transition: margin 0.3s;
}
.navbar button {
    width: 100%;
}
.scroll-right {
    transform: translateX();
}
.scroll-left {
    transform: translateX(0);
}
.header {
    background-color: rgb(72, 110, 136);
    width: 100%;
    text-align: center;
    height: 100%;
    min-height: 100vh;
}
.header label {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.img-index {
    width: 100%;
    height: 99.4vh;
}
.col-1 {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.col-12 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}
.p-4 {
    padding: 4rem;
}
.p-5 {
    padding: 5rem;
}
.p-6 {
    padding: 6rem;
}
.p-7 {
    padding: 7rem;
}
.p-8 {
    padding: 8rem;
}
.p-9 {
    padding: 9rem;
}
.p-10 {
    padding: 10rem;
}
.mg-1 {
    padding: 1rem;
}
.mg-2 {
    margin: 2rem;
}
.mg-3 {
    margin: 3rem;
}
.mg-4 {
    margin: 4rem;
}
.mg-5 {
    margin: 5rem;
}
.mg-6 {
    margin: 6rem;
}
.mg-7 {
    margin: 7rem;
}
.mg-8 {
    margin: 8rem;
}
.mg-9 {
    margin: 9rem;
}
.mg-10 {
    margin: 10rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mt-9 {
    margin-top: 9rem;
}
.mt-10 {
    margin-top: 10rem;
}
.mx-1 {
    margin-bottom: 1rem;
}
.mx-2 {
    margin-bottom: 2rem;
}
.mx-3 {
    margin-bottom: 3rem;
}
.mx-4 {
    margin-bottom: 4rem;
}
.mx-5 {
    margin-bottom: 5rem;
}
.mx-6 {
    margin-bottom: 6rem;
}
.mx-7 {
    margin-bottom: 7rem;
}
.mx-8 {
    margin-bottom: 8rem;
}
.mx-9 {
    margin-bottom: 9rem;
}
.mx-10 {
    margin-bottom: 10rem;
}
.table-block {
    margin-left: 10px;
    width: 98%;
    height: 88vh;
	overflow-y: auto;
    overflow-x: auto;
    position: relative;
}
.table-block-datalist {
    margin-left: 10px;
    width: 98%;
    height: 75vh;
	overflow-y: auto;
    overflow-x: auto;
    position: relative;
}
.table-tabledata {
    position: absolute;
    border-collapse: collapse;
    width: 100%;
}
.table-tabledata tr td {
    border: 1px solid black;
    text-align: center;
    max-width: 100%;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.table-print {
    display: none;
    border-collapse: collapse;
    width: 98%;
    margin: 1%;
}
.table-print tr td {
    border: 1px solid black;
    text-align: center;
    max-width: 100%;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
a:hover {
    animation: textcolor 2s linear infinite;
}
.active a {
    color: rgb(5, 1, 255);
    animation: textcolor 2s linear infinite;
}
.import-file {
    padding: 20px;
}
.form-file {
    border-radius: 7px;
    box-shadow: 0px 0px 7px black;
    width: 90%;
    padding: 10px;
    margin-top: 10px;
}
.text-center {
    text-align: center;
}
.form-btn {
    padding: 10px;
}
.form-btn button {
    padding: 10px;
    width: 40%;
    text-align: center;
    cursor: pointer;
    border: 2px solid skyblue;
    background-color: white;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
}
.form-btn button:hover {
    background-color: skyblue;
    box-shadow: 0px 0px 7px rgb(0, 217, 255);
    color: green;
}

.form-return {
    margin-top: 10px;
    padding: 10px;
}
.form-return label {
    border-radius: 7px;
    padding: 10px;
    border: 2px solid darkorange;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}
.form-return label:hover {
    background-color: orange;
    box-shadow: 0px 0px 7px orange;
    color: aliceblue;
}
.text-success {
    background-color: green;
    width: 70%;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}
.modal-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modal 0.8s alternate;
}
.modal {
    background-color: rgb(236, 236, 236);
    border: 1px solid #ccc;
    width: 20%;
    margin: 5% auto;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-loading{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modal 0.5s alternate;
}
.modal-load {
    background-color: rgb(236, 236, 236);
    border: 1px solid #ccc;
    width: 15%;
    height: 45vh;
    margin: 8% auto;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-success{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: success 0.2s alternate;
}
.load-success {
    background-color: rgb(236, 236, 236);
    border: 1px solid #ccc;
    width: 15%;
    height: 45vh;
    margin: 8% auto;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.img0 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img1 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img2 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img3 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img4 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img5 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img6 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img7 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img8 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img9 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img9 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img10 {
    width: 10%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img-backdata {
    width: 100%;
    animation: loading 4s linear infinite, success 1s linear, cancel 1s linear;
}
.img-success {
    width: 100%;
}
.btn-success {
    padding: 7px;
    border-radius: 7px;
    width: 25%;
    background-color: white;
    border: 2px solid rgb(255, 200, 60);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.btn-success:hover {
    color: white;
    background-color: rgb(255, 200, 60);
}
.btn-submit {
    padding: 7px;
    border-radius: 7px;
    width: 25%;
    background-color: white;
    border: 2px solid rgb(0, 158, 34);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.btn-submit:hover {
    color: white;
    background-color: rgb(0, 158, 34);
}
.btn-close {
    padding: 7px;
    border-radius: 7px;
    width: 25%;
    background-color: white;
    border: 2px solid rgb(248, 99, 40);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.btn-close:hover {
    color: white;
    background-color: rgb(248, 99, 40);
}
.btn-menu {
    border: none;
    border-bottom: 2px solid gray;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.btn-menu:hover {
    background-color: rgb(75, 88, 75);
    color: white;
}
.input-search {
    border: 2px solid skyblue;
    padding: 6px;
    border-radius: 7px;
}
.input-search:hover {
    box-shadow: 0px 0px 8px skyblue;
}
.input-search:focus {
    box-shadow: 0px 0px 8px skyblue;
    outline: none;
}
.btn-search {
    border: 2px solid rgb(247, 89, 115);
    cursor: pointer;
    width: 70px;
    border-radius: 7px;
    background-color: white;
    font-size: 18px;
}
.btn-search:hover {
    background-color: rgb(247, 89, 115);
    color: white;
    box-shadow: 0px 0px 7px rgb(247, 89, 115);
}
.Number-Page {
    margin-top: 10px;
    margin-right: 20px;
}
.loading-data {
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.loading-data h1 {
    color: rgb(255, 255, 255);
}
.loading {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loadingdata 2s linear infinite;
}
.btn-NextPage {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0px 20% 0px 20%;
}
.btn-PrevPage {
    display: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0px 20% 0px 20%;
}
.prev-arrow {
    width: 30px;
    height: 0px;
    border-right: 20px solid #e05151;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    animation: arrowleft 0.8s linear infinite;
}

.next-arrow {
    width: 30px;
    height: 0px;
    border-left: 20px solid #e05151;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    animation: arrowright 0.8s linear infinite;
}

.btn-Print {
    position: fixed;
    justify-content: right;
    top: 2%;
    right: 5%;
    width: 7%;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    border: 2px solid #3498db;
    cursor: pointer;
}
.btn-Print:hover {
    background-color: #3498db;
    color: white;
}
.table-edit {
    width: 90%;
    border-collapse: collapse;
}
.table-edit tr td {
    text-align: center;
    border: 1px solid black;
}
.edit-input {
    border: 2px solid skyblue;
    width: 50%;
    border-radius: 7px;
}
.edit-input:focus {
    animation: editinput 0.5s linear;
    outline: none;
}
.modal-confirm {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    animation: modal 0.4s alternate;
}
.modal-con {
    margin: 10% auto auto auto;
    background-color: #aedfff;
    width: 30%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
}
.modal-return {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    animation: modal 0.4s alternate;
}
.modal-re {
    margin: 5% auto auto auto;
    background-color: #aedfff;
    width: 25%;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
}
.block-modal {
    overflow-y: auto;
    height: 50vh;
}
.data_date:hover {
    cursor: pointer;
}
.data_date:hover {
    color: #e05151;
    text-decoration: underline;
}
.data_date:focus {
    color: #e05151;
    text-decoration: underline;
}
.upload-file {
    display: none;
    width: 100%;
    animation: showconfirm 0.4s;
}
.run-animation {
    animation: run 0.6s linear;
}
@keyframes textcolor {
    0% {
        color: red;
    }
    33% {
        color: rgb(17, 0, 255);
    }
    66% {
        color: rgb(9, 255, 0);
    }
    100% {
        color: rgb(255, 0, 0);
    }
}
@keyframes modal {
    0% {
        top: -100%;
    }
}
@keyframes loading {
    from {
        transform: rotate(Odeg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes success {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes cancel {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes btnfocus {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes loadingdata {
    from {
        transform: rotate(Odeg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes arrowleft {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}
@keyframes arrowright {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 50%;
    }
}
@keyframes editinput {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes run {
    form {
        left: 0%;
    }
    to {
        left: 100%;
    }
}
@keyframes showconfirm {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
